<%# CSS・・・assets/stylesheets/shared/header.css %>
<header class='top-page-header'>
  <div class='search-bar-contents'>
    <%= link_to image_tag("furima-logo-color.png", class:"furima-icon"), "/" %>
    <%= search_form_for @p, url: items_search_path, class: "search-form" do |f| %>
      <%= f.search_field :name_cont, placeholder:'キーワードから探す', class: "input-box" %>
      <br>
      <%= f.submit '検索', class: "search-button" %>
    <% end %>
  </div>
  <div class='nav'>
    <ul class='lists-left'>
      <li class="category-list" id="category-list">カテゴリー
        <ul class="genre-lists hidden" id="pull-down">
          <li class="pull-down-list"><%= link_to 'レディース', "#", class: 'genre_id' %></li>
          <li class="pull-down-list"><%= link_to 'メンズ', "#", class: 'genre_id' %></li>
          <li class="pull-down-list"><%= link_to 'ベビー・キッズ', "#", class: 'genre_id' %></li>
          <li class="pull-down-list"><%= link_to 'インテリア・住まい・小物', "#", class: 'genre_id' %></li>
          <li class="pull-down-list"><%= link_to '本・音楽・ゲーム', "#", class: 'genre_id' %></li>
          <li class="pull-down-list"><%= link_to 'おもちゃ・ホビー・グッズ', "#", class: 'genre_id' %></li>
          <li class="pull-down-list"><%= link_to '家電・スマホ・カメラ', "#", class: 'genre_id' %></li>
          <li class="pull-down-list"><%= link_to 'スポーツ・レジャー', "#", class: 'genre_id' %></li>
          <li class="pull-down-list"><%= link_to 'ハンドメイド', "#", class: 'genre_id' %></li>
          <li class="pull-down-list"><%= link_to 'その他', "#", class: 'genre_id' %></li>
        </ul>
      </li>
      <li><%= link_to 'ブランド', "#", class: "brand-list" %></li>
    </ul>
    <ul class='lists-right'>
      <% if user_signed_in? %>
        <li><%= link_to current_user.nickname, "/users/#{current_user.id}", class: "user-nickname" %></li>
        <li><%= link_to 'ログアウト', destroy_user_session_path, method: :delete, class: "logout" %></li>
      <% else %>
        <li><%= link_to 'ログイン', new_user_session_path, class: "login" %></li>
        <li><%= link_to '新規登録', new_user_registration_path, class: "sign-up" %></li>
      <% end %>
    </ul>
  </div>
</header>