
<%= render "shared/header" %>

<% if @items.any? %>
  <div class='item-contents'>
  <h2 class='title'>検索結果</h2>
    <ul class='item-lists'>
      <% @items.each do |item| %>
        <%# 商品のインスタンス変数になにか入っている場合、中身のすべてを展開できるようにしましょう %>
        <li class='list'>
          <%= link_to item_path(item.id) do %>
            <div class='item-img-content'>
              <%= image_tag item.image, class: "item-img" %>

              <%# 商品が売れていればsold outを表示しましょう(商品購入機能実装の際にやる) %>
              <% if item.log.present? %> 
                <div class='sold-out'> 
                  <span>Sold Out!!</span>
                </div>
              <% end %>
              <%# //商品が売れていればsold outを表示しましょう(商品購入機能実装の際にやる) %>

            </div>
            <div class='item-info'>
              <h3 class='item-name'>
                <%= item.name %>
              </h3>
              <div class='item-price'>
                <span><%= item.price %>円<br><%= item.charge.name %><br>出品者：<%= item.user.nickname%></span>
                <div class='star-btn'>
                  <i class="far fa-heart star-btn"></i>
                  <span class='star-count'><%= item.favorites.count %></span>
                </div>
              </div>
            </div>
          <% end %>
        </li>
        <%# //商品のインスタンス変数になにか入っている場合、中身のすべてを展開できるようにしましょう %>
      <% end %>
    </ul>
  </div>
<% else %>
  <h1>キーワードを含むユーザーを検索できませんでした</h1>
<% end %>

<%= render "shared/footer" %>